<div class="mx-5 px-5 pt-3 pb-5" *ngIf="soTietKiemFormGroup != undefined">
  <h2 class="text-center fw-bold text-dark">CHỈNH SỬA SỔ TIẾT KIỆM</h2>

  <p class="text-center">
    <a routerLink=""><i class="fa-solid fa-backward"></i> Quay lại trang danh sách sổ tiết kiệm</a>
  </p>

  <div class="d-flex justify-content-center">
    <form class="w-50 border border-2 border-success p-3 rounded formCSS" novalidate="novalidate"
          [formGroup]="soTietKiemFormGroup" (ngSubmit)="updateSoTietKiem(id)">
      <div class="form-group">
        <label class="h6" for="tenKhachHang">Tên khách hàng:</label>
        <div class="alert alert-danger" role="alert"
             *ngIf="soTietKiemFormGroup.controls.tenKhachHang.hasError('required') &&
                      soTietKiemFormGroup.controls.tenKhachHang.touched">
          Vui lòng chọn khách hàng!
        </div>
        <div class="input-group">
          <select id="tenKhachHang" class="form-select" formControlName="tenKhachHang" [compareWith]="compareWithId">
            <option value="" disabled>Chọn khách hàng..</option>
            <option *ngFor="let item of danhSachKhachHang" [ngValue]="item">{{item.tenKhachHang}} (Mã số: {{item.id}})
            </option>
          </select>
          <span class="input-group-text"><i class="fa-solid fa-ranking-star"></i></span>
        </div>
      </div>

      <div class="mt-3 form-group">
        <label class="h6" for="kyHan">Kỳ hạn:</label>
        <div class="alert alert-danger" role="alert"
             *ngIf="soTietKiemFormGroup.controls.kyHan.hasError('required') &&
                      soTietKiemFormGroup.controls.kyHan.touched">
          Vui lòng chọn kì hạn gửi!
        </div>
        <div class="input-group">
          <select id="kyHan" class="form-select" formControlName="kyHan" [compareWith]="compareWithId">
            <option value="" disabled>Chọn kì hạn..</option>
            <option *ngFor="let item of danhSachKyHan" [ngValue]="item">{{item.tenKyHan}}</option>
          </select>
          <span class="input-group-text"><i class="fa-solid fa-ranking-star"></i></span>
        </div>
      </div>

      <div class="mt-3 form-group">
        <label for="soTien" class="h6">Số tiền gửi:</label>
        <div class="alert alert-danger" role="alert"
             *ngIf="soTietKiemFormGroup.controls.soTien.hasError('required') &&
                      soTietKiemFormGroup.controls.soTien.touched">
          Số tiền gửi không được để trống!
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="soTietKiemFormGroup.controls.soTien.hasError('pattern') &&
                      soTietKiemFormGroup.controls.soTien.touched">
          Số tiền gửi tối thiểu là 1000000!
        </div>
        <div class="input-group">
          <input type="text" id="soTien" class="form-control" placeholder="Nhập số tiền gửi.."
                 formControlName="soTien"/>
          <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
        </div>
      </div>

      <div class="mt-3 form-group">
        <label for="laiSuat" class="h6">Lãi suất:</label>
        <div class="alert alert-danger" role="alert"
             *ngIf="soTietKiemFormGroup.controls.laiSuat.hasError('required') &&
                      soTietKiemFormGroup.controls.laiSuat.touched">
          Lãi suất không được để trống!
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="soTietKiemFormGroup.controls.laiSuat.hasError('pattern') &&
                      soTietKiemFormGroup.controls.laiSuat.touched">
          Lãi suất ít nhất là 0!
        </div>
        <div class="input-group">
          <input type="text" id="laiSuat" class="form-control" placeholder="Nhập lãi suất.."
                 formControlName="laiSuat"/>
          <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
        </div>
      </div>

      <div class="mt-3 form-group">
        <label for="uuDai" class="h6">Ưu đãi:</label>
        <div class="alert alert-danger" role="alert"
             *ngIf="soTietKiemFormGroup.controls.uuDai.hasError('required') &&
                      soTietKiemFormGroup.controls.uuDai.touched">
          Khuyến mãi không được để trống!
        </div>
        <div class="input-group">
          <input type="text" id="uuDai" class="form-control" placeholder="Nhập khuyến mãi.."
                 formControlName="uuDai"/>
          <span class="input-group-text"><i class="fa-solid fa-map-location-dot"></i></span>
        </div>
      </div>

      <div class="mt-3 text-center">
        <button class="btn btn-info btn-outline-success btn-sm border border-2 border-success text-dark">
<!--                [disabled]="soTietKiemFormGroup.invalid">-->
          -- Lưu <i class="fa-solid fa-floppy-disk"></i> --
        </button>
      </div>
    </form>
  </div>
</div>
