<div class="p-3">
  <h2 class="text-center fw-bold text-dark my-3">CUSTOMER LIST</h2>

  <nav class="navbar navbar-expand-lg py-0 my-0">
    <div class="container-fluid">
      <a routerLink="/customer/create">
        <button class="btn btn-primary btn-outline-secondary btn-sm">
          <span class="fa-solid fa-person-circle-plus text-light h5 my-auto me-1"></span>
          <span class="text-light">Add new customer</span>
        </button>
      </a>

      <div class="d-flex my-2" role="search">
        <input class="form-control me-2" type="text" placeholder="Input name" aria-label="Search"
               name="nameSearch">

        <input class="form-control me-2" type="text" placeholder="Input address" aria-label="Search"
               name="addressSearch">

        <input class="form-control me-2" type="text" placeholder="Input phone number.." aria-label="Search"
               name="phoneSearch">
        <button class="btn btn-light btn-outline-primary" type="submit" name="action" value="search">
          <i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </div>
  </nav>
  <table class="table table-light table-striped table-bordered">
    <thead>

    <tr class="table-dark text-light">
      <th>STT</th>
      <th>Customer Name</th>
      <th>Date Of Birth</th>
      <th>Gender</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Customer Type</th>
      <th class="text-center">Edit</th>
      <th class="text-center">Delete</th>

    </tr>
    </thead>

    <tr *ngFor="let customer of customerList; index as i">
      <td>{{i + 1}}</td>
      <td>{{customer.customerName}}</td>
      <td>{{customer.customerBirthday}}</td>
      <td *ngIf="customer.customerGender == 1">Male</td>
      <td *ngIf="customer.customerGender == 2">Female</td>
      <td>{{customer.customerPhone}}</td>
      <td>{{customer.customerAddress}}</td>
      <td>{{customer.customerType.customerTypeName}}</td>

      <td class="text-center">
        <a routerLink="/customer/update/{{customer.id}}">
          <button class="btn btn-success btn-outline-secondary btn-sm">
            <span class="fa-solid fa-user-pen text-light h6 m-auto px-2"></span>
          </button>
        </a>
      </td>

      <td class="text-center">
        <button data-bs-toggle="modal" data-bs-target="#deleteCustomer"
                (click)="getInfoCustomerDelete(customer.id, customer.customerName)">
          <span style="background-color: #5755FF" class="fa-solid fa-person-circle-minus text-light h6 m-auto px-2"></span>
        </button>
      </td>

    </tr>
  </table>
</div>
<div class="modal fade" id="deleteCustomer" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modalCSS">

      <div class="modal-body" style="text-align: center">
        <h3 class="modal-title" id="exampleModalLabel1" style="text-align: center">Are you sure you want to delete?</h3>
        <span class="h6">Customer name:</span><strong
        class="text-danger ps-2">{{customerNameDelete | uppercase}}</strong>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteCustomer()">Delete</button>
      </div>
    </div>
  </div>
</div>
